<!DOCTYPE html>
<html>

<head>
  <title>Request Header Parser</title>
  <link rel="shortcut icon" href="https://cdn.glitch.com/837e0b75-2052-4619-a8c1-7c20edb31f31%2Ffavicon.ico?v=1564653884487" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
</head>

<body>
  <div class="container">
    <section class="container-social">
      <div class="text-right">
        <ul class="social-list">
          <li>
            <a href="https://www.linkedin.com/in/sonyacooley/" title="linkedin" target="blank"><i
                class="fa fa-linkedin fa-2x"></i></a>
          </li>
          <li>
            <a href="https://github.com/Sonnerz" title="github" target="blank"><i
                class="fa fa-github-square fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.freecodecamp.org/sonnerz" title="free code camp" target="blank"><i
                class="fa fa-free-code-camp fa-2x"></i></a>
          </li>
          <li>
            <a class="nav-link text-light" href="mailto:sonya.cooley@mail.com" target="_blank" title="email me"><i
                class="fa fa-envelope-square fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </section>
    <h1>Request Header Parser Microservice</h1>

    <div class="content">
      <p>This microservice will get the page visitors;</p>
      <ul>
        <li>IP address</li>
        <li>languages the client is able to understand, and which locale variant is preferred and</li>
        <li>which web browser the visitor is using</li>
      </ul>
    </div>


    <p>The service will output the data in a json format:</p>

    <p>
      <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </p>


    <h3>Example</h3>

    <a href="https://valley-lasagna.glitch.me/api/whoami" title="who am i"
      target="blank">https://valley-lasagna.glitch.me/api/whoami</a>

  </div>
</body>


</html>